<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

      {% load static %}


</head>
<body>

    {% if img_obj %}
    <div>
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.url }}" alt="connect" style="max-height:500px;max-width: 500px">
        <img src="{{ img_proc }}" alt="connect" style="max-height:500px; max-width: 500px">

    </div>
    {% endif %}


    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div>
        <input type="radio" id="barcode" value="barcode" name="vision">
        <label for ="barcode"> Reconnaissance de code barre </label>
        <br>
        <input type="radio" id="vision" value="vision" name="vision">
        <label for ="vision"> Reconnaissance par vision </label>
        <br>
    </div>
        {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>

    <a href="/api"> Lien vers l'API </a>


</body>
</html>